@import './tailwind.css';

.background {
    background: linear-gradient(to right, #9860be, #e8a0da, rgb(233, 16, 164), rgb(1, 1, 73));
    height: 100vh;
    width: 100vw;
  }

  /* ---------------- Navbar and burger menu ------------------ */
nav {
    width: 100vw;
    height: 5em;
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    box-sizing: border-box;
    color: white;
    background-color: rgb(233, 16, 164);
    gap: 1%;
}

.burger-menu {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.burger-bar {
    width: 4em;
    height: 0.5em;
    border-radius: 0.5em;
    background-color: white;

}
.menu {
    top: 0;
    z-index: -1;
}
.pages{
    display: flex;
    justify-content: flex-start;
}
.navBtn{
    background-color:rgba(255, 255, 255, 0.1);
    border: none;
    height: 50px;
    width: 80px;
    cursor: pointer;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navBtn:hover{
    color: rgb(1, 1, 73);
}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ----- animations for burgermenu--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
/* Home Screen  */

.homeFlexBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 1%;
}
.home1{
    height: 400px;
    width: 300px;
    background-image: url(./assets/mImg3.jpeg);
    background-size: cover;
    background-position: center;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    transition: transform 0.8s ease-in-out;
}
.home1:hover {
    transform: rotate(360deg);
}
.home2{
    height: 400px;
    width: 200px;
    border-right: 2px solid #e8a0da;
    border-top: 2px solid #e8a0da;
    border-bottom: 2px solid #e8a0da;
}
.homeBorder{
    height: 400px;
    width: 200px;
    border: 2px solid rgb(1, 1, 73);
    position: absolute;
    top: 200px;
    left: 50%;
    right: 50%;
    bottom: 200px;
}



